/*
 * This is the stylesheet for assign9
 */

@import url('https://fonts.googleapis.com/css?family=Orbitron|Lato');

body {
    background-color: #202020;
    color: white;
    font-family: "Lato", sans-serif;
}